body {
    background-color: #000;
    color: #fff;
}


/* navbar */
.navbar {
    background-color: #000;
}

/* main index */
.carousel-inner {
    background-color: #000;
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(100%);
}

.carousel-indicators li {
    background-color: #FFA500;
}

/* card actividades */
.card {
    background-color: #000; /* Negro */
    color: #fff; /* Blanco */
    border: 2px solid #FFA500; /* Naranja */
    border-radius: 10px; /* Bordes redondeados */
}

.card-title {
    color: #FFA500; /* Naranja */
}

.card-body {
    padding: 20px; /* Espaciado interno */
}
/* colores de fuente */
h2, h5 {
    color: #FFA500; /* Color naranja para los títulos H2 y H5 */
}


/* logo whatsapp */
.wsp {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 1000;
  }
  
  .wsp img {
    width: 100px;
    height: 100%;
  }

/* Estilos para la imagen del footer */

.footer-logo {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    max-height: 150px; /* Altura máxima de la imagen */
    object-fit: contain; /* La imagen se ajustará al contenedor sin distorsionarse */
    display: block; /* Elimina el espacio extra debajo de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos adicionales para el footer */
footer {
    padding: 20px; /* Agrega espacio alrededor del contenido del footer */
}

.container-contacto {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Agrega espacio alrededor del contenido */
}

/* Estilos para el mapa de Google Maps mediante iframe */
iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

/* Estilos para la sección de información de contacto */
.row {
    margin-top: 20px;
}

.col-md-6 {
    text-align: center; /* Centra el contenido en las columnas */
}

/* Estilos para el formulario de contacto */
.form-group {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff; /* Color de fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cambio de color al pasar el mouse */
    border-color: #0056b3;
}


  
